.loginsignup{
    width: 100%;
    height: 85vh;
    background: #fce3fe;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.loginsignup-container{
    width: 400px;
    height: 450px;
    background: white;
    margin: auto;
    padding: 10px 20px;
}

.loginsignup-container h1{
    margin: 10px 18px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.loginsignup-fields input{
    height: 40px;
    width: 340px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    margin-left: 15px;
    font-size: 18px;
    padding: 0px 10px;
}

.loginsignup-container button{
    width: 320px;
    height: 60px;
    color: white;
    background: #ff4141;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-container p{
    font-size: 13px;
    margin-left: 15px;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree input{
    align-items: center;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 500;
}

.loginsignup-agree p{
    font-weight: 500;
    color: #5c5c5c;
}